.venv/
mlruns
__pycache__/
catboost_info/
.vscode
.env
credentials/
.DS_Store
london_housing_ai.egg-info
backend/data_lake
.terraform
terraform.tfstate*
terraform.tfvars
outputs/
terraform/.terraform.tfstate.lock.info