services:
  train:
    depends_on:
      - postgres
      - mlflow
    working_dir: /app
    command: python -m london_housing_ai.train_main --config src/london_housing_ai/configs/config_dataset2.yaml --csv src/london_housing_ai/data/May-2025-data.csv
    build: .
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./mlruns:/mlruns
      - ./credentials:/app/credential
    ports:
      - "8000:8000"
    environment:
      - DB_PASSWORD=${DB_PASSWORD}
      - GOOGLE_APPLICATION_CREDENTIALS=${GOOGLE_APPLICATION_CREDENTIALS}
      - MLFLOW_TRACKING_URI=${MLFLOW_TRACKING_URI}
      - MLFLOW_ARTIFACT_URI=${MLFLOW_ARTIFACT_URI}
      - DEV_MODE=${DEV_MODE}

  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mlflow:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: mlflow
    depends_on:
      - postgres
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /app/credentials/service-account.json
    ports:
      - "5000:5000"
    volumes:
      - ./credentials:/app/credentials
    command: >
      mlflow server
        --backend-store-uri postgresql://postgres:password@postgres:5432/postgres     
        --default-artifact-root gs://london-housing-ai-artifacts
        --host 0.0.0.0
        --port 5000

  api:
    build: .
    working_dir: /app
    command: uvicorn london_housing_ai.api.main:app --host 0.0.0.0 --port 7777 --reload
    depends_on:
      - mlflow
    ports:
      - "7777:7777"
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
      PYTHONPATH: /app/src
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./mlruns:/mlruns

volumes:
  pgdata:
