name: London Housing AI CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint-format-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-interaction --no-root --with dev
      - name: Lint and format
        run: |
          poetry run mypy src
          echo "::notice::Type checking passed!"
          poetry run black --check --diff .
          echo "::notice::Code formatting is correct"
          poetry run isort --check-only src
          poetry run isort --check-only tests
          echo "::notice::Import sorting is correct"

          # stop the build if there are Python syntax errors or undefined names
          poetry run flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings
          poetry run flake8 src --count --exit-zero --max-complexity=10 --max-line-length=136 --statistics
          echo "::notice::No linting issues found"

  tests:
    runs-on: ubuntu-latest
    needs: lint-format-check
    steps:
      - uses: actions/checkout@v4
      - name: Unit & Integration tests
        run: |
          poetry run pytest -v -m "not gcs"
          echo "::notice::All unit and integration pytest passed"

  set-credentials:
    runs-on: ubuntu-latest
    needs: tests
    environment: CREDENTIALS
    steps:
      - name: Set credentials
        run: |
          echo '${{ secrets.GCP_CREDENTIALS_JSON }}' > $HOME/gcp-key.json
          export GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcp-key.json
          export EPC_API_KEY=${{ secrets.EPC_API_KEY }}
          ls -l $HOME/gcp-key.json

          PROJECT_ID=$(jq -r '.project_id' $HOME/gcp-key.json)
          echo "PROJECT_ID=$PROJECT_ID" >> $GITHUB_ENV

          gcloud auth activate-service-account --key-file=$HOME/gcp-key.json
          gcloud config set project $PROJECT_ID

          echo "::group::Verifying GCP authentication"
          gcloud auth list
          gcloud config list project
          echo "::endgroup"

  image-build:
    runs-on: ubuntu-latest
    needs: set-credentials
    outputs:
      mlflow_image_uri: ${{ steps.build.outputs.image_uri }}
    steps:
      - uses: actions/checkout@v4
      - id: build
        name: Build and push MLflow image
        run: |
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          DATE_TAG=$(date +%Y%m%d-%H%M)
          IMAGE_URI="ghcr.io/${{ github.repository_owner }}/mlflow:${DATE_TAG}-sha-${SHORT_SHA}"

          docker build -t $IMAGE_URI .
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push $IMAGE_URI

          echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT

  terraform-deployment:
    runs-on: ubuntu-latest
    needs: image-build
    outputs:
      db_connection_url: ${{ steps.export.outputs.db_connection_url }}
      mlflow_tracking_uri: ${{ steps.export.outputs.mlflow_tracking_uri }}
      mlflow_artifact_uri: ${{ steps.export.outputs.mlflow_artifact_uri }}
    steps:
      - uses: actions/checkout@v4
      - id: export
        name: Terraform apply
        run: |
          terraform -chdir=terraform init
          terraform -chdir=terraform apply -auto-approve \
          -var="mlflow_image_uri=${{ needs.image-build.outputs.mlflow_image_uri }}"
          echo "Currently deployed MLflow image: ${{ needs.image-build.outputs.mlflow_image_uri }}""

          # export all outputs dynamically
          terraform -chdir=terraform output -json | \
          jq -r 'to_entries|.[] | select(.value.value != null) | "echo \(.key)=\(.value.value) >> $GITHUB_OUTPUT"'

  e2etests:
    runs-on: ubuntu-latest
    needs: terraform-deployment
    environment: ENV
    steps:
      - uses: actions/checkout@v4
      - name: Test with pytest
        env:
          GOOGLE_APPLICATION_CREDENTIAL: $HOME/gcp-key.json
          DB_CONNECTION_URL: ${{ needs.terraform-deployment.outputs.db_connection_url }}
          MLFLOW_TRACKING_URI: ${{ needs.terraform-deployment.outputs.mlflow_tracking_uri }}
          MLFLOW_ARTIFACT_URI: ${{ needs.terraform-deployment.outputs.mlflow_artifact_uri }}
        run: |
          poetry run pytest -v -m "gcs"
          echo "::notice::All deployment pytest passed"

  clean-up:
    runs-on: ubuntu-latest
    needs: e2etests
    steps:
      - uses: actions/checkout@v4
      - name: Terraform destroy
        if: always()
        run: |
          terraform -chdir=terraform destroy -auto-approve
